:root {
  --main: #fffcf2;
  --secondary: #222831;
  --body: #ccc5b9;
}



.header {
  border-bottom: 3px solid white;
position: absolute;
left: 21%;
top: 0;
width: 79%;
height: 14%;
border-left: 2px solid white;
background-color: var(--main);
}

.Order-header {
  display: flex;
  justify-content: space-evenly;
}

.header-title {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}

.page-layout{
  display: flex;

  justify-content: center;
  width: 100%;
}



.content-buttons{
position: absolute;
  position: -webkit-sticky;
position: sticky;
 top: 0;
 right: 80%;
 width: 20%;
 background-color:var(--main);
height: fit-content;
}

.mainContent {

  position: absolute;
left:21%;
width: 79%;
top: 16.5%;
  border-left: solid 2px #ececec;

}

.Order-header{
color: white;
  position: -webkit-sticky;
position: sticky; top: 0px;
background-color: var(--secondary);
z-index: 1;

}



