:root {
  --main: #fffcf2;
  --secondary: #222831;
  --body: #ccc5b9;
}

.header {
  position: absolute;
  left: 21%;
  top: 0;
  width: 79%;
  height: 14%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--main);
  border-radius: 0 0 0 5px;
}

.Order-header {
  display: flex;
  justify-content: space-evenly;
}

.header-title {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}

.page-layout {
  display: flex;

  justify-content: center;
  width: 100%;
}

.content-buttons {
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 80%;
  width: 20%;
  background-color: var(--main);
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 98.5vh;
  border-radius: 0 0 5px 0;
}

.mainContent {
  position: absolute;
  left: 21%;
  width: 79%;
  top: 16.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px 0 0 5px;
  overflow-y: auto;
  max-height: 82vh;
}

.Order-header {
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: var(--secondary);
  z-index: 1;
  border-radius: 5px 0 0 0;
}
