.main {
  background-color: #222831;
  color: white;
}

.selectionGroup {
  display: flex;
  /* justify-content: center; */
  background-color: #222831;
}

.selectionButtons {
  margin-top: 2em;
  margin-bottom: -0.9px;
}

.newPUForm {
  display: flex;
}

.newPUInput {
  width: 100%;
}

.puButton {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.puInput {
  display: flex;
  justify-content: space-evenly;
}

.user-card {
  display: flex;
  border: 3px solid red;
  border-radius: 20px;
  margin-top: 2em;

  width: 100%;
}

.user-key {
  height: 300px;
  width: 500px;
  border: 2px solid white;
  border-radius: 10px;
  margin-left: 2em;
  margin-top: 2em;
}

.icon {
  font-size: 2em;
}

/**
Need to have the hover effect display in text what the icon does
*/
.edit-icon:hover {
}

.notesTextArea {
  width: 100%;
}

.newPUButton {
  width: 6em;
  border-style: none;
  border-radius: 2px;
  background-color: transparent;
  border: solid 1px #f2a365;
  color: #f2a365;
}

.mainContent {
  border-right: solid 2px #ececec;
  border-left: solid 2px #ececec;
  margin-right: 1em;
  /* height: 100vh; */
}

.completedButton {
  margin-left: 4em;
}

.page-title {
  margin-left: 4rem;
  margin-top: 1rem;
  letter-spacing: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/**
Handles the logout dropdown
Need to figure out why i cant change the color
*/
.logout {
  /* display: flex;
  justify-content: flex-end; */
  margin-left: auto;
  color: white;
}

.selcBTN {
  /* width: 6em; */
  border-style: none;
  border-radius: 2px;
  background-color: transparent;
  border: solid 1px #f2a365;
  border-bottom: none;
  color: #f2a365;
}

.comment-area {
  border-radius: 5px;
}

.orderCard {
  border-bottom: solid 0.1px #30475e;
  padding-left: 4em;
}

/**
Spaces out thetop of each order
*/
.orderNumbers {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.orderCard:hover {
  transition: background-color 0.5s ease;
  background-color: #393e46;
}

/**
This seperates the content from the header
*/
.orderDiv {
  /* margin-top: 4em; */
}

.quickDetails {
  display: flex;
}

.aside {
  /* background-color: #393e46; */
}

.filter {
  margin-left: 1em;
}

.inputFields {
  margin-top: 1em;
  border: 2px solid white;
  width: 90%;
  height: max-content;
  padding: 1em;
}

.orderButtons {
  /* display: flex; */
  /* justify-content: center; */
  width: 8em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

.orderBtn {
  width: 6em;
  border-style: none;
  border-radius: 2px;
  background-color: transparent;
  border: solid 1px #f2a365;
  color: #f2a365;
}

.puForm {
  display: flex;
}

.info {
  font-size: 1.25em;
}

.updates {
  /* display: flex; */
  /* justify-content: center; */
}

.commentsArea {
  width: 80%;
}

#comments {
  width: 100%;
}

td {
  width: 8em;
}

.notesEdit {
  margin-left: 1em;
}

.notesEdit:hover {
  cursor: pointer;
}

.notesEditor {
  width: 50em;
}

.puSubmit {
  display: flex;
  justify-content: space-evenly;
}
