/* :root {
  --main: #fffcf2;
  --secondary: #222831;
  --body: #ccc5b9;
  --accessorial: #393e46;
} */
:root {
  --pop: #1985a1;
  --main: #4c5c68;
  --secondary: #c5c3c6;
  --body: #edf6f9;
  --accessorial: #dcdcdd;
}

.main {
  background-color: var(--body);
  color: var(--secondary);
}

.newPUForm {
  color: var(--accessorial);
  border-radius: 3px;
  padding: 1rem;
  background-color: var(--main);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-newPickup {
  position: absolute;
  top: 4.5px;
  left: 96%;
}

.close-newPickup:hover {
  cursor: pointer;
}
/** controls the fields within the new pickup form*/
.pickup-info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.newPUInput {
  width: 100%;
  padding: 5px;
  height: 50%;
}

.puInput {
  display: flex;
  justify-content: space-evenly;
}

#update-label {
  border: 1px solid black;
}

.puButton {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.newPUButton {
  width: 100%;
  border-style: none;
  border-radius: 2px;
  background-color: transparent;
  border: solid 1px var(--accessorial);
  color: var(--accessorial);
}

.notesTextArea {
  width: 100%;
}

.user-card {
  display: flex;

  border-radius: 20px;
  margin-top: 2em;

  width: 100%;
}

.filter-text {
  color: white;
}

.icon {
  font-size: 2em;
  display: flex;
  justify-content: space-evenly;
}

/**
Need to have the hover effect display in text what the icon does
*/
.edit-icon:hover {
  cursor: pointer;

  transform: scale(1.08) perspective(1px);
}

.edit-icon:active {
  transform: scale(0.9);
}

.page-header {
  height: 9em;
}

/**selection.js*/

/**
Handles the logout dropdown
Need to figure out why i cant change the color
*/

#user-dropdown {
  height: 100px;
  text-decoration: none;
}
.logout {
  /* display: flex;
  justify-content: flex-end; */
  margin-left: auto;
  color: var(--secondary);
}

.selectionGroup {
  display: flex;
  flex-direction: column;

  background-color: var(--main);
  padding: 1em;
  padding-top: 5rem;
}

.selcBTN {
  border-style: none;
  height: 2.5em;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 3px;
  background-color: var(--pop);
  color: white;
  padding: 5px;
  margin-bottom: 1.5em;
  transition: transform 500ms ease;
  letter-spacing: 2px;
  font-weight: 600;
}

.selcBTN:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.03) perspective(1px);
}

.selcBTN:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1) perspective(1px);
}

.page-title {
  margin-left: 4rem;
  margin-top: 2.7rem;
  letter-spacing: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

.comment-area {
  border-radius: 5px;
}

/** Filter.js*/

/**
Spaces out thetop of each order
*/
.orderNumbers {
  display: flex;
  justify-content: space-evenly;
}

.orderCard {
  /* border-bottom: solid 0.1px #30475e; */
  border-bottom: solid 0.1px var(--main);
  padding-top: 0.8em;
  transition: background-color 0.9s ease !important;
}

.orderCard:hover {
  /* background-color: #393e46 !important; */
  background-color: white !important;

  color: var(--main);
}

.order-info {
  width: 100%;
  text-align: center;
}

/**
This seperates the content from the header
*/
.orderDiv {
  /* margin-top: 4em; */
}

.quickDetails {
  display: flex;
}

.aside {
  /* background-color: #393e46; */
}

.filter {
  margin-left: 1em;
}

.inputFields {
  margin-top: 1em;
  border: 2px solid var(--accessorial);
  width: 73%;
  height: max-content;
  padding: 1em;
  text-align: center;
}

.orderButtons {
  /* display: flex; */
  /* justify-content: center; */
  width: 8em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

.orderBtn {
  width: 6em;
  border-style: none;
  border-radius: 2px;
  background-color: transparent;
  border: solid 1px var(--pop);
  color: var(--pop);
}

/* .puForm {
  display: flex;
} */

.info {
  font-size: 1.25em;
}

.detail-container {
  display: flex;
  justify-content: space-evenly;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.deets {
  width: 209px;
}

.completed-details {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.detail-info {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.Update-fields {
  width: 70%;
}

.commentsArea {
  width: 80%;
}

#comments {
  width: 100%;
}

td {
  width: 8em;
}

.notesEdit {
  margin-left: 1em;
}

.note {
  /* margin-left: 8.75%; */
}

.notesEdit:hover {
  cursor: pointer;
}

.notesEditor {
  width: 50em;
}

.puSubmit {
  display: flex;
  justify-content: space-evenly;
}

/**profileChoices.js*/

.profile-choices {
  color: var(--accessorial); /* border: 2px solid white; */
  border-radius: 3px;
  padding: 1rem;
  background-color: var(--main);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--pop);
  margin-left: auto;
  width: 20%;
  height: 94.5%;
  font-size: 2.5em;
}

.user-icon {
  transition: transform 300ms ease;
}

.user-icon:hover {
  cursor: pointer;
  transform: scale(1.2) perspective(1px);
}

.user-icon:active {
  transform: scale(0.8) perspective(1px);
}
