.selectionGroup {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
}

.completedButton {
    margin-left: 4em;
}

.orderCard {
    background-color: blueviolet;
   
}

.quickDetails {
    display: flex;
}

.orderNumbers {
    display: flex;
    
}

.orderButtons{
    /* display: flex; */
    /* justify-content: center; */
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .75em;
    margin-top: .75em;

}

.orderBtn {
    width: 6em;
    border-style: none;
    border-radius: 2px;
    background-color: transparent;
    border:solid 1px black;
}

.puForm {
    display: flex;
}

.info {
    font-size: 1.25em;
}

.updates {
    display: flex;
    /* justify-content: center; */
}

.commentsArea{
    width: 50%;
}

#comments {
    width: 100%;
}

td {
    width: 8em;
}

.notesEdit {
    margin-left: 1em;
}

.notesEdit:hover{
    cursor: pointer;
}

.notesEditor{
    width: 50em;
}